{% extends 'base.html.twig' %}

{% block title %}Список постов{% endblock %}

{% block navbar %}
    <form class="form-inline">
        <input class="form-control mr-sm-2" name="search" placeholder="Поиск" value="{{ app.request.get('search') }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
{% endblock %}

{% block body %}
<div class="container">

    <div class="posts">
        {% for post in posts %}
        <div class="item">
            {{ post.content | raw }}
            <div class="image">
                <img src="{{ post.image }}" width="606">
            </div>
            <a href="{{ path('get_post', {post: post.id}) }}" class="btn">Подробнее</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
